[Unit]
Description=Capturing MAC address
After=network.target

[Service]
User=root
Restart=always
Type=simple
ExecStart=/root/Scripts/startWirelessMon.sh

[Install]
WantedBy=multi-user.target
